.ColorSquare {
    width: 27px;
    height: 13.5px;
    margin-right: 7.5px;
    opacity: 0.5;
}

#blue {
    background-color: #9ADADE;
}

#purple {
    background-color: #D481FF;
}

#yellow {
    background-color: #FFD748;
}

#brown {
    background-color: #DFB577;
}